:root {
    --primary: #fff;
    --background: #C6DCF0;
    --container-bg: #DBEEFF;
    --border-color: #000000;
    --text-color: #000000;
    --heading-color: #ffffff;
    --link-color: #ff9800;
    --link-hover-color: #ff5722;
    --disabled-button-color: #5a5a5a;
    --safe-color: #3D9CE0;
    --danger-color: #E03D3D;

    font-family: Roboto, sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}