a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: inherit;
}

html, body{
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
}

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  background-color: var(--background);
  color: var(--text-color);
}

nav, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

.main-app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  width: 100%;
  padding-bottom:40px;
}

.remove-button {
  background: var(--danger-color);
  border-radius: 12px;
  padding: 3px 15px;
  border: none;
}

.add-button {
  background: var(--safe-color);
  border-radius: 12px;
  padding: 3px 15px;
  border: none;
}

.zero-margin-padding {
  margin: 0;
  padding: 0;
}

.glow {
  color: #ce4aff;
  filter: drop-shadow(0 0 2px #ce4aff);
}